name: CI Pipeline
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Show Docker version
        run: docker --version
      - name: Show Docker Compose version
        run: docker compose version
        
